# install/build directories
dist/
build/
QTradeX.egg-info/
UNKNOWN.egg-info/
qtradex/indicators/utilities.c*
qtradex/indicators/qi.c*

# candle cache
qtradex/common/pipe/


# pycaches
**/__pycache__/

# tune caches
demos/tunes/

# demos
demos/__pycache__/

# planning docs (contracts, specs, scratch)
planning/
